<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Создать человека</title>
</head>

<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="name">Введите ФИО:</label>
  <input type="text" id="name" th:field="*{fullName}"/>
  <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
  <br>
  <label for="birth-year">Введите год рождения:</label>
  <input type="text" id="birth-year" th:field="*{birthYear}"/>
  <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth year error</div>

  <br>

  <input type="submit" value="Создать!">

</form>
</body>
</html>